:host {
  display: block;
  width: auto; /* Permitir que el ancho sea automático */
  max-width: 90vw; /* Asegurarte de que el ancho no exceda el 90% del viewport */
}

mat-list {
  display: flex;
  flex-direction: column;
  padding: 0.3rem;
  box-sizing: border-box;

  justify-content: center;
  align-items: center;


  mat-label {
    color: white; /* Color del texto de las etiquetas */
  }

  mat-list-item {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2); /* Líneas separadoras */
    width: 100%; /* Asegurarse de que ocupe todo el ancho disponible */
  }

}

.button-container{
  #apply {
    --background: transparent;
    --color: white;
    --border-color: white;

    width: 90%;
  }
}

.custom-dialog {
  background-color: #0d0d0d; /* Color de fondo */

  .mat-dialog-container {
    border-radius: 0 !important; /* Remover bordes redondeados */
  }

  .button-container {
    display: flex;
    justify-content: center; /* Centrar el botón */
    margin-top: 16px; /* Espacio superior para separar del contenido */
  }

  .apply-button {
    width: auto; /* Ajustar el ancho al contenido */
    background-color: transparent; /* Color de fondo del botón */
    color: white; /* Color del texto del botón */
  }

  .types{
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;
  }
}
