.custom-dialog {
  background-color: #0d0d0d; /* Color de fondo */
  margin: 0;
  border: 0;
  padding: 0;

  .mat-dialog-container {
    border-radius: 0 !important; /* Remover bordes redondeados */
  }

}

#map{
  height: 100%;
  width: 100%;
  margin: 0;
  border: 0;
  padding: 0;
}
